body {
  margin-bottom: 60px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-image: linear-gradient(
    to left,
    rgba(72, 42, 42, 0),
    rgb(46, 4, 4)
  );
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.linked-in {
  color: #0e76a8;
}

.linked-in:hover {
  color: #5aa5c7;
}

.git-hub {
  color: black;
}

.git-hub:hover {
  color: #7c7d7d;
}
